@import "fonts"
@import "libs"
@import "base"
@import "vars"


.grid 
    display: grid



header
    width: 100vw
    height: 100vh
    box-sizing: border-box
    font-family: 'Titillium Web', sans-serif
    overflow: hidden
    position: absolute
    z-index: 1
    >*
        margin: 0
        padding: 0
        box-sizing: inherit
h1
    padding: 0
    margin: 0

ul
    list-style: none  
        




.wrapper
    height: 100vh
    width: 100vw
    background: url('../img/1.jpg')
    background-size: cover
    background-position: center 
    padding: 30px 30px 0 30px
    display: grid
    grid-template-columns: 1fr 2fr 1fr
    grid-template-rows: 150px
    position: relative
  
    &::after
        content: ''
        display: block  
        width: 100%
        height: 100%
        background: rgba(0,0,0,.5)
        position: absolute
        top: 0
        left: 0
        z-index: -1
    nav
        grid-column: 1 / -1
        display: grid
        grid-template-columns: 1fr 2fr 1fr
        .logo
            color: #fff
            letter-spacing: 3px
        ul.menu
            padding: 0
            margin: 0
            text-align: center
            li
                display: inline-block
                margin: 8px 25px 0
                
                a
                    text-decoration: none
                    color: #fff
                    text-transform: uppercase
                    text-shadow: 0 0 4px rgba(0,0,0,.1)
                    &:hover
                        text-decoration: underline
                        color: orange
                    
                    
        ul.social
            display: flex
            justify-content: flex-end
            margin: 0
            padding: 0
            li
                margin: 8px 25px 0
                a
                    color: #ffffff
                    text-shadow: 0 0 4px rgba(0,0,0,.1)
                    transition: all 250ms
                    &:hover
                        opacity: .8
                        color: orange

    .slogan
        grid-column: 1 / -1
        display: grid
        grid-template-columns: 2fr 1fr 1fr
        color: #fff
        .text
            display: grid
            grid-template-columns: 1fr 2fr
            p, h1, a, h2
                grid-column: 2 / 3
            h1
                font-size: 3.2rem
            a
                color: #fff
        .counter
            display: flex
            justify-content: flex-end
            align-items: center
            letter-spacing: 3px 
            font-weight: normal
            font-size: 1.4rem
        .indicator
            display: flex
            justify-content: flex-end
            align-items: center
            ul
                margin-right: 30px
                padding: 0
                li
                    width: 5px
                    height: 5px
                    background: #fff
                    margin-bottom: 25px
                    border-radius: 100%
                    position: relative
                    cursor: pointer
                    &.active::after
                        content: ''
                        display: block
                        width: 15px
                        height: 15px
                        border: 1px solid #ffffff
                        border-radius: 100%
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-53%, -52%)
                &:last-child
                    margin-bottom: 0
        .ftheader
            grid-column: 1 / -2
            display: grid
            grid-template-columns: 2fr 1fr
            .list
                
                display: grid
                grid-template-columns: 1fr 2fr
                align-items: flex-end
                ul
                    padding: 0
                    margin: 20px
                    grid-column: 1 / 3
                    background: rgba(255,255,255,.5)
                    height: 80px
                    padding-left: 50px
                    display: flex
                    align-items: center
                    border-radius: 15px
                    li  
                        color: #000000
                        margin-right: auto
                        font-weight: bold
                        cursor: pointer
                        &:hover
                            color: orange
                        
        .control
            display: grid
            grid-template-columns: 1fr
            align-items: flex-end
            .symbole
                height: 80px
                margin: 20px
                display: grid
                grid-template-columns: 1fr 50px 50px
                justify-content: flex-end
                align-items: center
                grid-gap: 30px
                a
                    color: #fff
                    width: 40px
                    height: 40px
                    border: 1px solid #ffffff
                    border-radius: 100%
                    text-decoration: none
                    transition: all 150ms
                    .prev
                        grid-column: 2 / 3 
                    .next
                        grid-column: 3 / 4
                    i
                        display: block
                        color: #ffffff
                        line-height: 40px
                        text-align: center
                        font-size: 1.4rem
                    &:hover
                        background: orange
                        border: 1px solid transparent

.wrapper-project
    height: 15vh
    width: 100vw
    background: $dark
    background-size: cover
    background-position: center 
    padding: 30px 30px 0 30px
    display: grid
    grid-template-columns: 1fr 2fr 1fr
    grid-template-rows: 150px
    position: relative
  
    &::after
        content: ''
        display: block  
        width: 100%
        height: 100%
        background: rgba(0,0,0,.5)
        position: absolute
        top: 0
        left: 0
        z-index: -1
    nav
        grid-column: 1 / -1
        display: grid
        grid-template-columns: 1fr 2fr 1fr
        .logo
            color: #fff
            letter-spacing: 3px
        ul.menu
            padding: 0
            margin: 0
            text-align: center
            li
                display: inline-block
                margin: 8px 25px 0 
                a
                    text-decoration: none
                    color: #fff
                    text-transform: uppercase
                    text-shadow: 0 0 4px rgba(0,0,0,.1)
                    &:hover
                        color: orange
                        text-decoration: underline
        ul.social
            display: flex
            justify-content: flex-end
            margin: 0
            padding: 0
            li
                margin: 8px 25px 0
                a
                    color: #ffffff
                    text-shadow: 0 0 4px rgba(0,0,0,.1)
                    transition: all 250ms
                &:hover
                    color: orange
                    opacity: .8








// .navbar 
//     .center-block-main 
//         .Logo-Header 
//             margin: 0 0 0 40px
//             img, p 
//                 float: left
      
//         p 
//             margin: 27px 0 0 8px
//             color: $dark
//             opacity: 0.7
      
    
//         .header-main 
//             padding: 12px 0 0 160px
//             opacity: 0.7
//             .menu 
//                 margin-left: 300px
      
//         nav ul li 
//             float: left
//             list-style: none
//             a 
//                 color: $light
//                 text-decoration: none
//                 padding-left: 40px
//                 &:hover
//                     color: orange
     



// .content-top
    
//     margin: 45px 25px
//     background-size: cover
//     background-position: center  
// .nav
//     display: grid
//     grid-template-columns: 100px minmax(200px, auto)
    

//     img
//         height: 100px
//     ul
//         display: grid
//         grid-template-columns: repeat(5, 1fr)
//         padding: 30px
// // .phone 
// //     padding: 30px
// //     float: right
// .logo
//     height: 250px

// h1
//     min-height: 100vh
//     background-size: cover
//     background-position: center
//     position: relative
//     align-content: center
// .main-header

//     min-height: 100vh
//     background-size: cover
//     background-position: center
//     position: relative
    // align-content: center
//     &::before
//         content: ''
//         position: absolute
//         top: 0
//         left: 0
//         right: 0
//         bottom: 0
//         background-color: $dark
//         opacity: .92

// .header-content
//     z-index: 1
//     color: #ffffff
//     text-align: center
//     padding: 60px $gutter 
//     h1
//         font-size: 60px
//         font-family: intro-grid, sans-serif
//         font-weight: normal
//         margin: 20px 0px
//         line-height: 1.5
//     .button
//         margin: 10px


// .button
// 	display: inline-block
// 	border: none
// 	color: #fff
// 	text-decoration: none
// 	background-color: $accent
// 	padding: 10px 60px
// 	font-size: 20px
// 	font-weight: 800
// 	border-radius: 2px
// 	text-align: center
// 	position: relative
// 	outline: none
// 	transition: background-color .1s ease
// 	cursor: pointer
// 	&::after
// 		transition: background-color .2s ease
// 		position: absolute
// 		content: ''
// 		height: 4px
// 		bottom: 0
// 		width: 100%
// 		background-color: darken($accent, 50%)
// 		opacity: .18
// 		border-bottom-left-radius: 2px
// 		border-bottom-right-radius: 2px
// 		left: 0
// 	&:focus, &:hover
// 		text-decoration: none
// 		color: #fff
// 	&:hover
// 		background-color: lighten($accent, 5%)
// 		&::after
// 			opacity: .22
// 	&:active
// 		background-color: darken($accent, 5%)
// 		&::after
// 			opacity: .3
    
// .button-gray
//         background-color: $gray
//         &::after
//             background-color: darken($gray, 15%)
//         &::hover
//             background-color: lighten($gray, 5%)
//             &::after
//                 opacity: .22
//         &::active
//             background-color: darken($gray, 5%)
//             &::after
//                 opacity: .32

.project-item
    height: 230px
    width: 100vw
    background: $light
    background-size: cover
    background-position: center 
    padding: 30px 30px 0 30px
    display: grid
    p
        font-size: 3.4rem
        letter-spacing: 3px
        text-align: center
        align-items: center
        color: black
       
    h2
        text-align: center
        align-items: center
        color: #555555
        letter-spacing: 1px
        




.portfolio-section
    padding: 5px
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 5px
    
    

.portfolio-item 
    min-height: 32vh
    background-size: cover
    background-position: center
    text-align: center
    align-content: center
    padding: $gutter
    font-size: 20px
    font-weight: bold
    color: #ffffff
    position: relative
    transition: color .5s ease
    cursor: pointer
    
    i   
        color: $accent
        display: none
    &:hover
        i
            display: inline
            color: $accent
        &::before
            opacity: .85
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: $dark
        opacity: .65
        transition: opacity .5s ease
    >*
        z-index: 1

    &:nth-child(1)
        grid-column: 1 / 3
    &:nth-child(5)
        grid-column: 2 / 4
    &:nth-child(6)
        grid-column: 4
        grid-row: 2 / 4


.portfolio-all
    height: 60px
   
    a
        text-align: center
        text-decoration: none
        text-transform: uppercase
        padding: 15px
        letter-spacing: 3px
        color: $dark
        background-color: rgba(191, 191, 191,.8)
        &:hover
            background-color: orange
       

        


.container
    max-width: 1400px
    margin: auto
    padding: 0 $gutter

.landing-section
    padding: 40px 0px
    h2
        font-size: 34px
        font-weight: 800
        color: $dark
        line-height: 1.2

.section-ready
    background-color: $light
    &__team
        margin: 10px
        
        p
            margin-right: 10%

            text-align: right
            font-size: 3.4rem
            letter-spacing: 3px
            border-bottom: 1px solid #000
            
    .container
        grid-template-columns: 1fr 1fr

.ready-left
    border-right: 1px solid #dadada
    font-size: 18px
    padding: 60px 60px 60px 0px
    min-width: 400px
    h2
        margin-top: 0
        margin-bottom: 40px

.ready-right
    padding-left: 40px
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 5px
    &__team
        padding: 0
        padding: $gutter
        img
            width: 100%

.section-blog
    h2 
        margin: 0 0 50px 0

.blog-home
    grid-gap: $gutter
    grid-template-columns: repeat(4, 1fr)

.blog-item
    background-color: #f7f7f7
    text-decoration: none
    grid-template-rows: 1fr 1fr
    transition: background-color .25s ease
    overflow: hidden
    color: #333
    &:nth-child(3)
        grid-column: 3 / 5
    &:nth-child(4)
        grid-column: 1 / 3
    &:hover
        background-color: $light
        h4 
            color: $dark
        .blog-item-img
            transform: scale(1.05) translateY(-6.5px)
    &-img
        height: 270px
        background-size: cover
        background-position: center
        transition: transform .25s ease
    &-content
        padding: 25px
        text-align: center
        align-content: center
        h4 
            font-size: 18px
            color: #666666
            line-height: 1.3
            margin: 0
            transition:  color .25s ease
        p 
            margin: 20px 0 0 0


//COMPANY SECTION//

.company-logo
    
    margin: 0px auto
    width: 100%
    height: 300px
    grid-template-columns: repeat(4, 1fr)
    &__item
        position: relative
        margin-bottom: 30px
        margin-top: 10px
        >img
            width: 100%
            height: auto
            position: absolute
    
    
//FORM SECTION

.form-section
    background-color: $light 
    padding: 30px
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 10px
    &__left
        border-right: 1px solid #dadada
        min-width: 450px
        max-width: 100%
        padding: 60px 60px 60px 60px
    input   
        background-color: lighten($dark, 55%)
    form
        grid-gap: 20px
        grid-template-columns: repeat(1, 1fr)

    .form-input__button
        font-size: 17px
        padding: 11px
        width: 150px
        &:hover
           background-color: orange
    .form-item
        &:nth-child(2)
            grid-column: 2 / 4
    &__right
        padding: 0 0 0 20px

input, textarea
    border: none
    padding: 15px 20px
    width: 100%
    font-family: Arial, sans-serif
    font-style: italic
    outline: none
    transition: background-color .25s ease
    &:focus
        background-color: #ffffff
    &::placeholder
        color: lighten($dark, 20%)




// FOOTER SECTION//
    
.footer-section
    height: 150px
    background-color: $dark
    grid-template-columns: repeat(2, 1fr)
.footer-item
    
    color: $light
    padding: 20px
    margin: 10px
    
      
.footer-container
    background-color: $dark
    display: flex
    justify-content: space-around
    color: $light
    padding: 20px 0 20px 0px
    &__logo
        p
            opacity: .82
    
  
    &__contacts
        p
            opacity: .82
    
    &__social
        display: flex
        flex-direction: column
        align-items: center
        &_links
            list-style: none
            a
                color: $light
                opacity: $dark
                &:hover
                    color: orange
      




    











   


@import "media" // Прописуються завжди в кінці
