* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #333;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

body {
  background: #f3f3f3 url(../img/pattern5.jpg) repeat left top;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  background-color: #fefefe;
  margin: 4% auto 15% auto;
  border: 1px solid #888888;
  width: 40%;
  padding-bottom: 30px;
}

.modal .animate-down {
  -webkit-animation: zoom-down 0.6s;
          animation: zoom-down 0.6s;
}

@-webkit-keyframes zoom-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoom-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.modal .animate {
  -webkit-animation: zoom 0.6s;
          animation: zoom 0.6s;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modal .animate .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.modal .animate .imgcontainer .close-popup {
  position: absolute;
  width: 50px;
  right: 15px;
  top: -15px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.modal .animate .imgcontainer .close-popup:hover, .modal .animate .imgcontainer .close-popup:focus {
  color: red;
  cursor: pointer;
}

.modal .animate .imgcontainer .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.modal .animate .container-form input[type=text], .modal .animate .container-form input[type=tel] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 26px;
  display: inline-block;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.modal .animate .container-form button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 26px;
  border: none;
  cursor: pointer;
  width: 90%;
  font-size: 20px;
}

.modal .animate .container-form button:hover {
  opacity: 0.8;
}

header {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8);
          box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

header > * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, p {
  font-family: 'ZCOOL XiaoWei', sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background: url("../img/1.jpg") 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15px 15px 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  position: relative;
}

.wrapper::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper nav {
  height: 70px;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.wrapper nav .logo {
  margin-left: 25px;
  color: #fff;
  letter-spacing: 3px;
}

.wrapper nav ul.menu {
  padding: 0;
  margin: 0;
  text-align: center;
}

.wrapper nav ul.menu li {
  display: inline-block;
}

.wrapper nav ul.menu li a {
  display: inline-block;
  padding: 6px 19px;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 18px;
}

.wrapper nav ul.menu li a:hover {
  border: -0.2em solid #000;
  color: #000000;
  background-color: #fff;
}

.wrapper nav ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.wrapper nav ul.social li {
  margin: 8px 10px 0;
}

.wrapper nav ul.social li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.35em 1em;
  border-radius: 15px;
}

.wrapper nav ul.social li a:hover {
  border: -0.2em solid #000;
  color: #000;
  background-color: #fff;
}

.wrapper .slogan {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  color: #fff;
}

.wrapper .slogan .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
}

.wrapper .slogan .text p, .wrapper .slogan .text h1, .wrapper .slogan .text a, .wrapper .slogan .text h2 {
  margin-left: 60px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.wrapper .slogan .text p {
  font-size: 20px;
  margin-left: -40px;
}

.wrapper .slogan .text h1 {
  margin-left: 0;
  font-size: 3.2rem;
}

.wrapper .slogan .text a {
  color: #fff;
}

.wrapper .slogan .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 1.4rem;
}

.wrapper .slogan .indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .slogan .indicator ul {
  margin-right: 30px;
  padding: 0;
}

.wrapper .slogan .indicator ul li {
  width: 5px;
  height: 5px;
  background: #fff;
  margin-bottom: 25px;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

.wrapper .slogan .indicator ul li.active::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-53%, -52%);
          transform: translate(-53%, -52%);
}

.wrapper .slogan .indicator ul:last-child {
  margin-bottom: 0;
}

.wrapper .slogan .ftheader {
  grid-column: 1 / -2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.wrapper .slogan .ftheader .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .slogan .ftheader .list ul {
  padding: 0;
  margin: 20px auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.wrapper .slogan .ftheader .list ul li {
  margin: 10px auto;
}

.wrapper .slogan .ftheader .list ul li .bouncy {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: bouncy 5s infinite linear;
          animation: bouncy 5s infinite linear;
  position: relative;
}

.wrapper .slogan .ftheader .list ul li .bouncy:hover {
  color: #000000;
  background-color: #fff;
}

@-webkit-keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.wrapper .slogan .control {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .slogan .control .symbole {
  height: 80px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 50px;
      grid-template-columns: 1fr 50px 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

.wrapper .slogan .control .symbole a {
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  text-decoration: none;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.wrapper .slogan .control .symbole a .prev {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.wrapper .slogan .control .symbole a .next {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.wrapper .slogan .control .symbole a i {
  display: block;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  font-size: 1.4rem;
}

.wrapper .slogan .control .symbole a:hover {
  background: orange;
  border: 1px solid transparent;
}

.wrapper-project {
  height: 70px;
  width: 100vw;
  background: #1B1E1E;
  background-size: cover;
  background-position: center;
  padding: 15px 15px 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  position: relative;
}

.wrapper-project::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper-project nav {
  height: 70px;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.wrapper-project nav .logo {
  color: #fff;
  letter-spacing: 3px;
}

.wrapper-project nav ul.menu {
  padding: 0;
  margin: 0;
  text-align: center;
}

.wrapper-project nav ul.menu li {
  display: inline-block;
}

.wrapper-project nav ul.menu li a {
  display: inline-block;
  padding: 6px 19px;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 18px;
}

.wrapper-project nav ul.menu li a:hover {
  border: -0.2em solid #000;
  color: #000000;
  background-color: #fff;
}

.wrapper-project nav ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.wrapper-project nav ul.social li {
  margin: 8px 10px 0;
}

.wrapper-project nav ul.social li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.35em 1em;
  border-radius: 15px;
}

.wrapper-project nav ul.social li a:hover {
  border: -0.2em solid #000;
  color: #000;
  background-color: #fff;
}

.project-item {
  height: 180px;
  width: 100vw;
  background-size: cover;
  background-position: center;
  padding: 10px;
  display: -ms-grid;
  display: grid;
}

.project-item p {
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.project-item h4 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555555;
  letter-spacing: 1px;
}

.container-filter {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0 4px 0px rgba(0, 0, 0, 0.8);
  height: 50px;
  margin: 0px auto;
}

.container-filter button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
}

.portfolio-section {
  padding: 5px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.portfolio-item {
  min-height: 42vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  cursor: pointer;
}

.portfolio-item i {
  color: #F0650D;
  display: none;
}

.portfolio-item:hover {
  -webkit-box-shadow: 0px 2px 45px -11px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 45px -11px rgba(0, 0, 0, 0.8);
}

.portfolio-item:hover i {
  display: inline;
  color: #EDEDED;
}

.portfolio-item:hover::before {
  opacity: .5;
}

.portfolio-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1B1E1E;
  opacity: .1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.portfolio-item > * {
  z-index: 1;
}

.portfolio-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.portfolio-item:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.portfolio-item:nth-child(6) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.portfolio-all {
  background-color: #222;
  height: 100px;
  -webkit-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8);
          box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8);
  margin: 5px auto 20px;
}

.portfolio-all .bouncy {
  width: 25%;
  height: 70%;
  display: inline-block;
  padding: 15px 0px;
  margin: 15px auto;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: bouncy 5s infinite linear;
          animation: bouncy 5s infinite linear;
  position: relative;
}

.portfolio-all .bouncy:hover {
  color: #000000;
  background-color: #fff;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.section-ready {
  -webkit-box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
  background-color: #EDEDED;
}

.section-ready__team {
  margin: 10px;
}

.section-ready__team p {
  margin-right: 5%;
  text-align: right;
  font-size: 2.4rem;
  letter-spacing: 3px;
  border-bottom: 1px solid #000;
}

.section-ready .container {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section-ready .container .ready-left {
  border-right: 1px solid #dadada;
  font-size: 18px;
  padding: 20px;
  min-width: 400px;
}

.section-ready .container .ready-left h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.section-ready .container .ready-right {
  padding-left: 10px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.section-ready .container .ready-right__team {
  padding: 40px;
  padding: 20px;
}

.section-ready .container .ready-right__team a img {
  padding: 0px;
  width: 100%;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.section-ready .container .ready-right__team a img:hover {
  border-radius: 20px;
  -webkit-box-shadow: 5px 12px 45px -2px rgba(0, 0, 0, 0.8);
          box-shadow: 5px 12px 45px -2px rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(1.1) translateY(-6.5px);
          transform: scale(1.1) translateY(-6.5px);
}

.landing-section {
  padding: 40px 0px;
}

.landing-section h2 {
  font-size: 34px;
  font-weight: 800;
  color: #1B1E1E;
  line-height: 1.2;
}

.section-blog__name {
  margin: 10px;
}

.section-blog__name p {
  margin-left: 5%;
  text-align: left;
  font-size: 2.4rem;
  letter-spacing: 3px;
  border-bottom: 1px solid #000;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

.container .blog-home {
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.container .blog-home .blog-item {
  background-color: #f7f7f7;
  text-decoration: none;
  -ms-grid-rows: 270px 1fr;
      grid-template-rows: 270px 1fr;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
  overflow: hidden;
  color: #333;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.container .blog-home .blog-item:hover {
  -webkit-transform: scale(0.95) translateY(-6.5px);
          transform: scale(0.95) translateY(-6.5px);
}

.container .blog-home .blog-item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.container .blog-home .blog-item:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.container .blog-home .blog-item:hover {
  background-color: #444;
  -webkit-box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
}

.container .blog-home .blog-item:hover h4, .container .blog-home .blog-item:hover p {
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
  color: #ffffff;
}

.container .blog-home .blog-item:hover .blog-item-img {
  -webkit-transform: scale(1.05) translateY(-6.5px);
          transform: scale(1.05) translateY(-6.5px);
}

.container .blog-home .blog-item-img {
  height: 270px;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.container .blog-home .blog-item-content {
  padding: 25px;
  text-align: center;
  -ms-flex-line-pack: start;
      align-content: start;
}

.container .blog-home .blog-item-content h4 {
  font-size: 18px;
  color: #666666;
  line-height: 1.3;
  margin: 0;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.container .blog-home .blog-item-content p {
  margin: 20px 0 0 0;
  text-align: justify;
}

.company-logo {
  height: 300px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
}

.company-logo__name {
  margin: 10px;
}

.company-logo__name p {
  margin-right: 5%;
  text-align: right;
  font-size: 2.4rem;
  letter-spacing: 3px;
  border-bottom: 1px solid #000;
}

.company-logo__autoplay {
  margin: 0 35px;
}

.company-logo__autoplay img {
  height: 180px;
}

.form-section {
  padding: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.form-section__left {
  border-right: 1px solid #dadada;
  max-width: 100%;
  padding: 40px 40px 40px 40px;
}

.form-section__left form {
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.form-section__left form input, .form-section__left form textarea {
  border: none;
  padding: 15px 20px;
  width: 100%;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  outline: none;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
  background-color: #a4adad;
}

.form-section__left form input:focus, .form-section__left form textarea:focus {
  background-color: #ffffff;
}

.form-section__left form input::-webkit-input-placeholder, .form-section__left form textarea::-webkit-input-placeholder {
  color: #4b5454;
}

.form-section__left form input:-ms-input-placeholder, .form-section__left form textarea:-ms-input-placeholder {
  color: #4b5454;
}

.form-section__left form input::-ms-input-placeholder, .form-section__left form textarea::-ms-input-placeholder {
  color: #4b5454;
}

.form-section__left form input::placeholder, .form-section__left form textarea::placeholder {
  color: #4b5454;
}

.form-section__left form .form-input__button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.form-section__left form .form-input__button:hover {
  opacity: 0.8;
}

.form-section .form-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.form-section .form-item:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.form-section__right {
  padding: 0 0 0 20px;
}

.footer-section {
  height: 150px;
  background-color: #1B1E1E;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.footer-item {
  color: #EDEDED;
  padding: 20px;
  margin: 10px;
}

.footer-container {
  background-color: #1B1E1E;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 10px;
  color: #EDEDED;
}

.footer-container__logo {
  margin: auto;
}

.footer-container__logo p {
  opacity: .82;
}

.footer-container__contacts {
  margin: 0 auto;
}

.footer-container__contacts h2 {
  text-align: center;
}

.footer-container__contacts p {
  font-size: 14px;
  opacity: .82;
}

.footer-container__social {
  margin: 0 auto;
}

.footer-container__social h2 {
  text-align: center;
}

.footer-container__social ul {
  text-align: center;
}

.footer-container__social ul li {
  display: inline-block;
}

.footer-container__social ul li a {
  padding: 0.35em 1.2em;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-container__social ul li a:hover {
  border: -0.2em solid #000;
  color: #000000;
  background-color: #fff;
}

.container {
  padding-top: 20px;
}

.container .col-6 h2 {
  padding: 10px;
  text-align: center;
}

.container div .custom-bold {
  font-weight: bold;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1920px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .wrapper nav {
    -ms-grid-columns: 1fr 2fr 171px;
        grid-template-columns: 1fr 2fr 171px;
  }
  .wrapper nav .logo {
    letter-spacing: 1px;
  }
  .wrapper nav ul.menu li a {
    padding: 6px 15px;
  }
  .wrapper nav ul.social li {
    margin: 8px 0px 0px 0px;
  }
  .wrapper .slogan .ftheader {
    grid-column: 1 / -2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .portfolio-all {
    height: 70px;
  }
  .portfolio-all .bouncy {
    width: 260px;
    height: 55%;
    margin: 20px auto;
    padding: 0px;
  }
  .portfolio-all .bouncy a {
    font-size: 18px;
  }
  .form-section {
    padding: 20px;
    grid-gap: 15px;
  }
  .form-section__left {
    min-width: auto;
    padding: 20px;
  }
  .form-section__left form {
    grid-gap: 10px;
  }
  .form-section__left form h2 {
    font-size: 20px;
  }
  .form-section__left form p {
    font-size: 16px;
  }
  .form-section__right {
    padding: 10px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrapper nav {
    -ms-grid-columns: 1fr 2fr 171px;
        grid-template-columns: 1fr 2fr 171px;
  }
  .wrapper nav .logo {
    letter-spacing: 1px;
  }
  .wrapper nav ul.menu li a {
    padding: 6px 15px;
  }
  .wrapper nav ul.social li {
    margin: 8px 0px 0px 0px;
  }
  .wrapper .slogan {
    grid-column: 1 / -1;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .wrapper .slogan .ftheader {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .project-item {
    padding: 20px 20px 0px 20px;
    height: 100px;
  }
  .project-item p {
    font-size: 1.7rem;
    letter-spacing: 2px;
  }
  .project-item h4 {
    font-size: 0.9rem;
  }
  .portfolio-section {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .portfolio-item {
    min-height: 40vh;
    font-size: 16px;
  }
  .portfolio-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .portfolio-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .portfolio-item:nth-child(5) {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  .portfolio-item:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .portfolio-item:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .portfolio-all {
    height: 70px;
  }
  .portfolio-all .bouncy {
    width: 220px;
    height: 55%;
    margin: 20px auto;
    padding: 0px;
  }
  .portfolio-all .bouncy a {
    font-size: 16px;
  }
  .section-ready__team p {
    font-size: 1.7rem;
    font-size-letter-spacing: 2px;
  }
  .section-ready .container {
    padding-top: 10px;
  }
  .section-ready .container .ready-left {
    padding: 25px 25px 25px 0px;
  }
  .section-ready .container .ready-left p {
    font-size: 14px;
  }
  .section-ready .container .ready-right {
    padding-left: 25px;
  }
  .section-ready .container .ready-right__team {
    padding: 5px;
  }
  .landing-section {
    padding: 15px 0px;
  }
  .landing-section h2 {
    font-size: 23px;
  }
  .section-blog__name p {
    font-size: 1.7rem;
    font-size-letter-spacing: 2px;
  }
  .container .blog-home {
    grid-gap: 10px;
  }
  .container .blog-home .blog-item {
    -ms-grid-rows: 280px 1fr;
        grid-template-rows: 280px 1fr;
  }
  .container .blog-home .blog-item-content {
    padding: 0px 2px;
  }
  .container .blog-home .blog-item-content h4 {
    margin-top: 7px;
  }
  .container .blog-home .blog-item-content p {
    font-size: 14px;
    padding: 5px;
  }
  .company-logo {
    height: 200px;
  }
  .company-logo__name p {
    font-size: 1.7rem;
    font-size-letter-spacing: 2px;
  }
  .company-logo__autoplay {
    margin: 0 25px;
  }
  .company-logo__autoplay img {
    height: 120px;
  }
  .form-section {
    padding: 20px;
    grid-gap: 10px;
  }
  .form-section__left {
    min-width: auto;
    padding: 10px;
  }
  .form-section__left form {
    grid-gap: 10px;
  }
  .form-section__left form h2 {
    font-size: 17px;
  }
  .form-section__left form p {
    font-size: 14px;
  }
  .form-section__right {
    padding: 0px;
  }
  .footer-container {
    padding: 10px;
  }
  .footer-container * > h2 {
    font-size: 20px;
  }
  .footer-container * > p, .footer-container a {
    font-size: 12px;
  }
  .footer-container__logo img {
    height: 50px;
    width: 80px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .project-item {
    height: 80px;
    padding: 15px 15px 0px 15px;
  }
  .project-item p {
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
  .project-item h4 {
    font-size: 0.7rem;
  }
  .portfolio-section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .container-filter {
    height: 90px;
  }
  .portfolio-item {
    min-height: 40vh;
    font-size: 16px;
  }
  .portfolio-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .portfolio-item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .portfolio-item:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .portfolio-item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .portfolio-item:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
  }
  .portfolio-item:nth-child(6) {
    grid-column: initial;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .portfolio-item:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .portfolio-all {
    height: 70px;
  }
  .portfolio-all .bouncy {
    width: 180px;
    margin: 13px auto;
    padding: 0px;
  }
  .portfolio-all .bouncy a {
    font-size: 14px;
  }
  .section-ready__team p {
    font-size: 1.3rem;
    font-size-letter-spacing: 2px;
  }
  .section-ready .container {
    padding-top: 10px;
  }
  .section-ready .container .ready-left {
    min-width: auto;
    padding: 15px 15px 15px 0px;
  }
  .section-ready .container .ready-left p {
    font-size: 12px;
  }
  .section-ready .container .ready-right {
    padding-left: 15px;
  }
  .section-ready .container .ready-right__team {
    padding: 5px;
  }
  .landing-section {
    padding: 15px 0px;
  }
  .landing-section h2 {
    font-size: 16px;
  }
  .section-blog__name p {
    font-size: 1.3rem;
    font-size-letter-spacing: 2px;
  }
  .container .blog-home {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .container .blog-home .blog-item {
    -ms-grid-rows: 280px 1fr;
        grid-template-rows: 280px 1fr;
  }
  .container .blog-home .blog-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .container .blog-home .blog-item:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .container .blog-home .blog-item-content {
    padding: 0px 2px;
  }
  .container .blog-home .blog-item-content h4 {
    font-size: 16px;
    margin-top: 7px;
  }
  .container .blog-home .blog-item-content p {
    font-size: 12px;
    padding: 5px;
  }
  .company-logo {
    height: 150px;
  }
  .company-logo__name p {
    font-size: 1.3rem;
    font-size-letter-spacing: 2px;
  }
  .company-logo__autoplay {
    margin: 0 28px;
  }
  .company-logo__autoplay img {
    height: 90px;
  }
  .form-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
    padding: 10px;
    grid-gap: 0px;
  }
  .form-section .form-item {
    min-height: 60vh;
  }
  .form-section .form-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .form-section .form-item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .form-section__left {
    border-right: 0;
    padding: 5px;
  }
  .form-section form {
    grid-template: 1fr;
    grid-gap: 10px;
  }
  .form-section form h2 {
    font-size: 15px;
  }
  .form-section form p {
    font-size: 12px;
  }
  .form-section .form-input__button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
  }
  .form-section__right {
    padding: 5px;
  }
  .form-section input, .form-section textarea {
    border: none;
    padding: 5px 10px;
    width: 100%;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    outline: none;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
  }
  .form-section input:focus, .form-section textarea:focus {
    background-color: #ffffff;
  }
  .form-section input::-webkit-input-placeholder, .form-section textarea::-webkit-input-placeholder {
    color: #4b5454;
  }
  .form-section input:-ms-input-placeholder, .form-section textarea:-ms-input-placeholder {
    color: #4b5454;
  }
  .form-section input::-ms-input-placeholder, .form-section textarea::-ms-input-placeholder {
    color: #4b5454;
  }
  .form-section input::placeholder, .form-section textarea::placeholder {
    color: #4b5454;
  }
  .footer-container {
    padding: 10px;
  }
  .footer-container * > h2 {
    font-size: 12px;
  }
  .footer-container * > p, .footer-container a {
    font-size: 10px;
  }
  .footer-container__logo img {
    padding: 10px 35px;
    height: 50px;
    width: 80px;
  }
  .footer-container__logo p {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .project-item p {
    font-size: 0.85rem;
    letter-spacing: 1px;
  }
  .project-item h4 {
    font-size: 0.55rem;
  }
  .container-filter {
    height: 90px;
  }
  .portfolio-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .portfolio-item {
    min-height: 45vh;
  }
  .portfolio-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .portfolio-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .portfolio-item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    grid-row: initial;
  }
  .portfolio-item:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    grid-row: initial;
  }
  .portfolio-item:nth-child(8) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .portfolio-item:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    grid-row: initial;
  }
  .portfolio-all {
    height: 70px;
  }
  .portfolio-all .bouncy {
    margin: 13px auto;
    padding: 0px;
  }
  .portfolio-all .bouncy a {
    font-size: 14px;
  }
  .section-ready__team p {
    font-size: 0.85rem;
    font-size-letter-spacing: 1px;
  }
  .section-ready .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
    min-height: 100%;
  }
  .section-ready .container:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .section-ready .container:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .section-ready .container .ready-left {
    border-right: 0;
  }
  .section-ready .container .ready-left h2 {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .section-ready .container .ready-left p {
    font-size: 8px;
  }
  .section-ready .container .ready-right {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .section-blog__name p {
    font-size: 0.85rem;
    font-size-letter-spacing: 1px;
  }
  .container .blog-home {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .container .blog-home .blog-item span h4 {
    font-size: 12px;
  }
  .container .blog-home .blog-item span p {
    margin-top: 5px;
    padding: 10px 10px;
  }
  .container .blog-home .blog-item:nth-child(1) {
    grid-column: 1 / -1;
  }
  .container .blog-home .blog-item:nth-child(2) {
    grid-column: 1 / -1;
  }
  .container .blog-home .blog-item:nth-child(3) {
    grid-column: 1 / -1;
  }
  .container .blog-home .blog-item:nth-child(4) {
    grid-column: 1 / -1;
  }
  .container .blog-home .blog-item:nth-child(5) {
    grid-column: 1 / -1;
  }
  .container .blog-home .blog-item:nth-child(6) {
    grid-column: 1 / -1;
  }
  .container .blog-home .blog-item-content {
    padding: 0px 2px;
  }
  .container .blog-home .blog-item-content h4 {
    font-size: 16px;
    margin-top: 7px;
  }
  .container .blog-home .blog-item-content p {
    font-size: 10px;
    padding: 5px;
  }
  .form-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
    padding: 10px;
    grid-gap: 0px;
  }
  .form-section .form-item {
    min-height: 40vh;
  }
  .form-section .form-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .form-section .form-item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .form-section__left {
    border-right: 0;
    padding: 5px;
  }
  .form-section form {
    grid-template: 1fr;
    grid-gap: 10px;
  }
  .form-section form h2 {
    font-size: 15px;
  }
  .form-section form p {
    font-size: 12px;
  }
  .form-section .form-input__button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
  }
  .form-section__right {
    padding: 5px;
  }
  .form-section input, .form-section textarea {
    border: none;
    padding: 5px 10px;
    width: 100%;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    outline: none;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
  }
  .form-section input:focus, .form-section textarea:focus {
    background-color: #ffffff;
  }
  .form-section input::-webkit-input-placeholder, .form-section textarea::-webkit-input-placeholder {
    color: #4b5454;
  }
  .form-section input:-ms-input-placeholder, .form-section textarea:-ms-input-placeholder {
    color: #4b5454;
  }
  .form-section input::-ms-input-placeholder, .form-section textarea::-ms-input-placeholder {
    color: #4b5454;
  }
  .form-section input::placeholder, .form-section textarea::placeholder {
    color: #4b5454;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .project-item p {
    font-size: 0.6rem;
    letter-spacing: 1px;
  }
  .project-item h4 {
    font-size: 0.2rem;
  }
  .portfolio-item {
    min-height: 32vh;
  }
  .landing-section {
    padding: 10px 0px;
  }
  .landing-section h2 {
    font-size: 34px;
    font-weight: 800;
    color: #1B1E1E;
    line-height: 1.2;
  }
  .section-ready .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
    min-height: 100%;
  }
  .section-ready .container:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .section-ready .container:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .section-ready .container .ready-left h2 {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .section-ready .container .ready-left p {
    font-size: 8px;
  }
  .section-ready .container .ready-right {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
/*# sourceMappingURL=main.css.map */