@import url(c:\Users\solomon\Documents\justart.design_web-site\app\libs\normalize-css\normalize.css);
@font-face {
  font-family: 'raleway-grid';
  src: url("../fonts/RalewayRegular.woff") format("woff");
}

@font-face {
  font-family: 'raleway-grid';
  src: url("../fonts/RalewayBold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: 'raleway-grid';
  src: url("../fonts/RalewayExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: 'intro-grid';
  src: url("../fonts/IntroRegular.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: raleway-grid, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #333;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

header {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

header > * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background: url("../img/1.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px 30px 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  position: relative;
}

.wrapper::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper nav {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.wrapper nav .logo {
  color: #fff;
  letter-spacing: 3px;
}

.wrapper nav ul.menu {
  padding: 0;
  margin: 0;
  text-align: center;
}

.wrapper nav ul.menu li {
  display: inline-block;
  margin: 8px 25px 0;
}

.wrapper nav ul.menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.wrapper nav ul.menu li a:hover {
  text-decoration: underline;
  color: orange;
}

.wrapper nav ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.wrapper nav ul.social li {
  margin: 8px 25px 0;
}

.wrapper nav ul.social li a {
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.wrapper nav ul.social li a:hover {
  opacity: .8;
  color: orange;
}

.wrapper .slogan {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  color: #fff;
}

.wrapper .slogan .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.wrapper .slogan .text p, .wrapper .slogan .text h1, .wrapper .slogan .text a, .wrapper .slogan .text h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.wrapper .slogan .text h1 {
  font-size: 3.2rem;
}

.wrapper .slogan .text a {
  color: #fff;
}

.wrapper .slogan .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 1.4rem;
}

.wrapper .slogan .indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .slogan .indicator ul {
  margin-right: 30px;
  padding: 0;
}

.wrapper .slogan .indicator ul li {
  width: 5px;
  height: 5px;
  background: #fff;
  margin-bottom: 25px;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

.wrapper .slogan .indicator ul li.active::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-53%, -52%);
          transform: translate(-53%, -52%);
}

.wrapper .slogan .indicator ul:last-child {
  margin-bottom: 0;
}

.wrapper .slogan .ftheader {
  grid-column: 1 / -2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.wrapper .slogan .ftheader .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .slogan .ftheader .list ul {
  padding: 0;
  margin: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background: rgba(255, 255, 255, 0.5);
  height: 80px;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.wrapper .slogan .ftheader .list ul li {
  color: #000000;
  margin-right: auto;
  font-weight: bold;
  cursor: pointer;
}

.wrapper .slogan .ftheader .list ul li:hover {
  color: orange;
}

.wrapper .slogan .control {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .slogan .control .symbole {
  height: 80px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 50px;
      grid-template-columns: 1fr 50px 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

.wrapper .slogan .control .symbole a {
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  text-decoration: none;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.wrapper .slogan .control .symbole a .prev {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.wrapper .slogan .control .symbole a .next {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.wrapper .slogan .control .symbole a i {
  display: block;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  font-size: 1.4rem;
}

.wrapper .slogan .control .symbole a:hover {
  background: orange;
  border: 1px solid transparent;
}

.wrapper-project {
  height: 15vh;
  width: 100vw;
  background: #293A43;
  background-size: cover;
  background-position: center;
  padding: 30px 30px 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  position: relative;
}

.wrapper-project::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper-project nav {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.wrapper-project nav .logo {
  color: #fff;
  letter-spacing: 3px;
}

.wrapper-project nav ul.menu {
  padding: 0;
  margin: 0;
  text-align: center;
}

.wrapper-project nav ul.menu li {
  display: inline-block;
  margin: 8px 25px 0;
}

.wrapper-project nav ul.menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.wrapper-project nav ul.menu li a:hover {
  color: orange;
  text-decoration: underline;
}

.wrapper-project nav ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.wrapper-project nav ul.social li {
  margin: 8px 25px 0;
}

.wrapper-project nav ul.social li a {
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.wrapper-project nav ul.social li:hover {
  color: orange;
  opacity: .8;
}

.project-item {
  height: 230px;
  width: 100vw;
  background: #EDEDED;
  background-size: cover;
  background-position: center;
  padding: 30px 30px 0 30px;
  display: -ms-grid;
  display: grid;
}

.project-item p {
  font-size: 3.4rem;
  letter-spacing: 3px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.project-item h2 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555555;
  letter-spacing: 1px;
}

.portfolio-section {
  padding: 5px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.portfolio-item {
  min-height: 32vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  cursor: pointer;
}

.portfolio-item i {
  color: #F0650D;
  display: none;
}

.portfolio-item:hover i {
  display: inline;
  color: #F0650D;
}

.portfolio-item:hover::before {
  opacity: .85;
}

.portfolio-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293A43;
  opacity: .65;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.portfolio-item > * {
  z-index: 1;
}

.portfolio-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.portfolio-item:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.portfolio-item:nth-child(6) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.portfolio-all {
  height: 60px;
}

.portfolio-all a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  letter-spacing: 3px;
  color: #293A43;
  background-color: rgba(191, 191, 191, 0.8);
}

.portfolio-all a:hover {
  background-color: orange;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

.landing-section {
  padding: 40px 0px;
}

.landing-section h2 {
  font-size: 34px;
  font-weight: 800;
  color: #293A43;
  line-height: 1.2;
}

.section-ready {
  background-color: #EDEDED;
}

.section-ready__team {
  margin: 10px;
}

.section-ready__team p {
  margin-right: 10%;
  text-align: right;
  font-size: 3.4rem;
  letter-spacing: 3px;
  border-bottom: 1px solid #000;
}

.section-ready .container {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.ready-left {
  border-right: 1px solid #dadada;
  font-size: 18px;
  padding: 60px 60px 60px 0px;
  min-width: 400px;
}

.ready-left h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.ready-right {
  padding-left: 40px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.ready-right__team {
  padding: 0;
  padding: 20px;
}

.ready-right__team img {
  width: 100%;
}

.section-blog h2 {
  margin: 0 0 50px 0;
}

.blog-home {
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.blog-item {
  background-color: #f7f7f7;
  text-decoration: none;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
  overflow: hidden;
  color: #333;
}

.blog-item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.blog-item:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.blog-item:hover {
  background-color: #EDEDED;
}

.blog-item:hover h4 {
  color: #293A43;
}

.blog-item:hover .blog-item-img {
  -webkit-transform: scale(1.05) translateY(-6.5px);
          transform: scale(1.05) translateY(-6.5px);
}

.blog-item-img {
  height: 270px;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.blog-item-content {
  padding: 25px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.blog-item-content h4 {
  font-size: 18px;
  color: #666666;
  line-height: 1.3;
  margin: 0;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.blog-item-content p {
  margin: 20px 0 0 0;
}

.company-logo {
  margin: 0px auto;
  width: 100%;
  height: 300px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.company-logo__item {
  position: relative;
  margin-bottom: 30px;
  margin-top: 10px;
}

.company-logo__item > img {
  width: 100%;
  height: auto;
  position: absolute;
}

.form-section {
  background-color: #EDEDED;
  padding: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.form-section__left {
  border-right: 1px solid #dadada;
  min-width: 450px;
  max-width: 100%;
  padding: 60px 60px 60px 60px;
}

.form-section input {
  background-color: #b4c7d1;
}

.form-section form {
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.form-section .form-input__button {
  font-size: 17px;
  padding: 11px;
  width: 150px;
}

.form-section .form-input__button:hover {
  background-color: orange;
}

.form-section .form-item:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.form-section__right {
  padding: 0 0 0 20px;
}

input, textarea {
  border: none;
  padding: 15px 20px;
  width: 100%;
  font-family: Arial, sans-serif;
  font-style: italic;
  outline: none;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

input:focus, textarea:focus {
  background-color: #ffffff;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #507182;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #507182;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #507182;
}

input::placeholder, textarea::placeholder {
  color: #507182;
}

.footer-section {
  height: 150px;
  background-color: #293A43;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.footer-item {
  color: #EDEDED;
  padding: 20px;
  margin: 10px;
}

.footer-container {
  background-color: #293A43;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #EDEDED;
  padding: 20px 0 20px 0px;
}

.footer-container__logo p {
  opacity: .82;
}

.footer-container__contacts p {
  opacity: .82;
}

.footer-container__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container__social_links {
  list-style: none;
}

.footer-container__social_links a {
  color: #EDEDED;
  opacity: #293A43;
}

.footer-container__social_links a:hover {
  color: orange;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
/*# sourceMappingURL=main.css.map */