* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #333;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

body {
  background: #f3f3f3 url(../img/pattern5.jpg) repeat left top;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  background-color: #fefefe;
  margin: 4% auto 15% auto;
  border: 1px solid #888888;
  width: 40%;
  padding-bottom: 30px;
}

.modal .animate-down {
  -webkit-animation: zoom-down 0.6s;
          animation: zoom-down 0.6s;
}

@-webkit-keyframes zoom-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoom-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.modal .animate {
  -webkit-animation: zoom 0.6s;
          animation: zoom 0.6s;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modal .animate .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.modal .animate .imgcontainer .close-popup {
  position: absolute;
  width: 50px;
  right: 15px;
  top: -15px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.modal .animate .imgcontainer .close-popup:hover, .modal .animate .imgcontainer .close-popup:focus {
  color: red;
  cursor: pointer;
}

.modal .animate .imgcontainer .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.modal .animate .container-form input[type=text], .modal .animate .container-form input[type=tel] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 26px;
  display: inline-block;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.modal .animate .container-form button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 26px;
  border: none;
  cursor: pointer;
  width: 90%;
  font-size: 20px;
}

.modal .animate .container-form button:hover {
  opacity: 0.8;
}

header {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8);
          box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

header > * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1 {
  font-family: 'ZCOOL XiaoWei', sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background: url("../img/1.jpg") 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15px 15px 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  position: relative;
}

.wrapper::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper nav {
  height: 70px;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.wrapper nav .logo {
  color: #fff;
  letter-spacing: 3px;
}

.wrapper nav ul.menu {
  padding: 0;
  margin: 0;
  text-align: center;
}

.wrapper nav ul.menu li {
  display: inline-block;
}

.wrapper nav ul.menu li a {
  display: inline-block;
  padding: 6px 19px;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 18px;
}

.wrapper nav ul.menu li a:hover {
  border: -0.2em solid #000;
  color: #000000;
  background-color: #fff;
}

.wrapper nav ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.wrapper nav ul.social li {
  margin: 8px 10px 0;
}

.wrapper nav ul.social li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.35em 1em;
  border-radius: 15px;
}

.wrapper nav ul.social li a:hover {
  border: -0.2em solid #000;
  color: #000;
  background-color: #fff;
}

.wrapper .slogan {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  color: #fff;
}

.wrapper .slogan .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.wrapper .slogan .text p, .wrapper .slogan .text h1, .wrapper .slogan .text a, .wrapper .slogan .text h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.wrapper .slogan .text h1 {
  font-size: 3.2rem;
}

.wrapper .slogan .text a {
  color: #fff;
}

.wrapper .slogan .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 1.4rem;
}

.wrapper .slogan .indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .slogan .indicator ul {
  margin-right: 30px;
  padding: 0;
}

.wrapper .slogan .indicator ul li {
  width: 5px;
  height: 5px;
  background: #fff;
  margin-bottom: 25px;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

.wrapper .slogan .indicator ul li.active::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-53%, -52%);
          transform: translate(-53%, -52%);
}

.wrapper .slogan .indicator ul:last-child {
  margin-bottom: 0;
}

.wrapper .slogan .ftheader {
  grid-column: 1 / -2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.wrapper .slogan .ftheader .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .slogan .ftheader .list ul {
  padding: 0;
  margin: 20px auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.wrapper .slogan .ftheader .list ul li {
  margin: 10px auto;
}

.wrapper .slogan .ftheader .list ul li .bouncy {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: bouncy 5s infinite linear;
          animation: bouncy 5s infinite linear;
  position: relative;
}

.wrapper .slogan .ftheader .list ul li .bouncy:hover {
  color: #000000;
  background-color: #fff;
}

@-webkit-keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.wrapper .slogan .control {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .slogan .control .symbole {
  height: 80px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 50px;
      grid-template-columns: 1fr 50px 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

.wrapper .slogan .control .symbole a {
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  text-decoration: none;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.wrapper .slogan .control .symbole a .prev {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.wrapper .slogan .control .symbole a .next {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.wrapper .slogan .control .symbole a i {
  display: block;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  font-size: 1.4rem;
}

.wrapper .slogan .control .symbole a:hover {
  background: orange;
  border: 1px solid transparent;
}

.wrapper-project {
  height: 70px;
  width: 100vw;
  background: #1B1E1E;
  background-size: cover;
  background-position: center;
  padding: 15px 15px 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  position: relative;
}

.wrapper-project::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper-project nav {
  height: 70px;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.wrapper-project nav .logo {
  color: #fff;
  letter-spacing: 3px;
}

.wrapper-project nav ul.menu {
  padding: 0;
  margin: 0;
  text-align: center;
}

.wrapper-project nav ul.menu li {
  display: inline-block;
}

.wrapper-project nav ul.menu li a {
  display: inline-block;
  padding: 6px 19px;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 18px;
}

.wrapper-project nav ul.menu li a:hover {
  border: -0.2em solid #000;
  color: #000000;
  background-color: #fff;
}

.wrapper-project nav ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.wrapper-project nav ul.social li {
  margin: 8px 10px 0;
}

.wrapper-project nav ul.social li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.35em 1em;
  border-radius: 15px;
}

.wrapper-project nav ul.social li a:hover {
  border: -0.2em solid #000;
  color: #000;
  background-color: #fff;
}

.project-item {
  height: 150px;
  width: 100vw;
  background-size: cover;
  background-position: center;
  padding: 30px 30px 0 30px;
  display: -ms-grid;
  display: grid;
}

.project-item p {
  font-size: 2.4rem;
  letter-spacing: 3px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.project-item h4 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555555;
  letter-spacing: 1px;
}

.container-filter {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0 4px 0px rgba(0, 0, 0, 0.8);
  height: 50px;
  margin: 0px auto;
}

.container-filter button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
}

.portfolio-section {
  padding: 5px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.portfolio-item {
  min-height: 42vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  cursor: pointer;
}

.portfolio-item i {
  color: #F0650D;
  display: none;
}

.portfolio-item:hover i {
  display: inline;
  color: #F0650D;
}

.portfolio-item:hover::before {
  opacity: .85;
}

.portfolio-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1B1E1E;
  opacity: .1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.portfolio-item > * {
  z-index: 1;
}

.portfolio-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.portfolio-item:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.portfolio-item:nth-child(6) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.portfolio-all {
  background-color: #222;
  height: 100px;
  -webkit-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8);
          box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8);
  margin: 5px auto 20px;
}

.portfolio-all .bouncy {
  width: 25%;
  height: 70%;
  display: inline-block;
  padding: 15px 0px;
  margin: 15px auto;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: bouncy 5s infinite linear;
          animation: bouncy 5s infinite linear;
  position: relative;
}

.portfolio-all .bouncy:hover {
  color: #000000;
  background-color: #fff;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.section-ready {
  -webkit-box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
  background-color: #EDEDED;
}

.section-ready__team {
  margin: 10px;
}

.section-ready__team p {
  margin-right: 5%;
  text-align: right;
  font-size: 2.4rem;
  letter-spacing: 3px;
  border-bottom: 1px solid #000;
}

.section-ready .container {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section-ready .container .ready-left {
  border-right: 1px solid #dadada;
  font-size: 18px;
  padding: 60px 60px 60px 0px;
  min-width: 400px;
}

.section-ready .container .ready-left h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.section-ready .container .ready-right {
  padding-left: 40px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.section-ready .container .ready-right__team {
  padding: 0;
  padding: 20px;
}

.section-ready .container .ready-right__team img {
  width: 100%;
}

.landing-section {
  padding: 40px 0px;
}

.landing-section h2 {
  font-size: 34px;
  font-weight: 800;
  color: #1B1E1E;
  line-height: 1.2;
}

.section-blog__name {
  margin: 10px;
}

.section-blog__name p {
  margin-left: 5%;
  text-align: left;
  font-size: 2.4rem;
  letter-spacing: 3px;
  border-bottom: 1px solid #000;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

.container .blog-home {
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.container .blog-home .blog-item {
  background-color: #f7f7f7;
  text-decoration: none;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
  overflow: hidden;
  color: #333;
}

.container .blog-home .blog-item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.container .blog-home .blog-item:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.container .blog-home .blog-item:hover {
  background-color: #444;
  -webkit-box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
}

.container .blog-home .blog-item:hover h4, .container .blog-home .blog-item:hover p {
  color: #ffffff;
}

.container .blog-home .blog-item:hover .blog-item-img {
  -webkit-transform: scale(1.05) translateY(-6.5px);
          transform: scale(1.05) translateY(-6.5px);
}

.container .blog-home .blog-item-img {
  height: 270px;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.container .blog-home .blog-item-content {
  padding: 25px;
  text-align: center;
  -ms-flex-line-pack: start;
      align-content: start;
}

.container .blog-home .blog-item-content h4 {
  font-size: 18px;
  color: #666666;
  line-height: 1.3;
  margin: 0;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.container .blog-home .blog-item-content p {
  margin: 20px 0 0 0;
  text-align: justify;
}

.company-logo {
  height: 300px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 45px -11px rgba(0, 0, 0, 0.8);
}

.company-logo__name {
  margin: 10px;
}

.company-logo__name p {
  margin-right: 5%;
  text-align: right;
  font-size: 2.4rem;
  letter-spacing: 3px;
  border-bottom: 1px solid #000;
}

.company-logo__autoplay {
  margin: 0 35px;
}

.company-logo__autoplay img {
  height: 180px;
}

.form-section {
  padding: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.form-section__left {
  border-right: 1px solid #dadada;
  min-width: 450px;
  max-width: 100%;
  padding: 60px 20px 60px 60px;
}

.form-section input, .form-section textarea {
  background-color: #a4adad;
}

.form-section form {
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.form-section .form-input__button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.form-section .form-input__button:hover {
  opacity: 0.8;
}

.form-section .form-item:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.form-section__right {
  padding: 0 0 0 20px;
}

input, textarea {
  border: none;
  padding: 15px 20px;
  width: 100%;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  outline: none;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

input:focus, textarea:focus {
  background-color: #ffffff;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #4b5454;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #4b5454;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #4b5454;
}

input::placeholder, textarea::placeholder {
  color: #4b5454;
}

.footer-section {
  height: 150px;
  background-color: #1B1E1E;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.footer-item {
  color: #EDEDED;
  padding: 20px;
  margin: 10px;
}

.footer-container {
  background-color: #1B1E1E;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 10px;
  color: #EDEDED;
}

.footer-container__logo {
  margin: auto;
}

.footer-container__logo p {
  opacity: .82;
}

.footer-container__contacts {
  margin: 0 auto;
}

.footer-container__contacts h2 {
  text-align: center;
}

.footer-container__contacts p {
  font-size: 14px;
  opacity: .82;
}

.footer-container__social {
  margin: 0 auto;
}

.footer-container__social h2 {
  text-align: center;
}

.footer-container__social ul {
  text-align: center;
}

.footer-container__social ul li {
  display: inline-block;
}

.footer-container__social ul li a {
  padding: 0.35em 1.2em;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-container__social ul li a:hover {
  border: -0.2em solid #000;
  color: #000000;
  background-color: #fff;
}

.container {
  padding-top: 20px;
}

.container .col-6 h2 {
  padding: 10px;
  text-align: center;
}

.container div .custom-bold {
  font-weight: bold;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1920px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  body {
    background-color: red;
  }
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
/*# sourceMappingURL=main.css.map */